.calculator{
  border: 1px solid rgb(177, 158, 158);
  border-radius: 5px;
  width: 200px;
  

 background-color: rgb(236, 164, 8);
}

#display{
  margin: 10px;
  width: 85%;
  font-size: 30px;
}
.button-contener{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btns{
  width: 45px;
  height: 45px;
  margin: 3px;
}

.Element{
  
 
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}